## What is a function?
- Function is a group of statements that performs a specific task.
- A function is a collection of statements grouped together that performs an operation. When you call the *random.randint(a, b)* function, for example, the system actually executes the statements in the function and returns the result.

## Advantages of Functions:

- Makes your code more organized and manageable.
- Ensures resuability, avoids code redundency.

# Functions
- Inbuilt Functions and User defines functions
- How to create a function
- Arguments, parameters, return
- Default parameters
- Keyword and Positional Arguments
- Args and Kwargs

In [2]:
'''
def function_name(argument1, argument2....):
    statement1
    statement2
    ..........
    return result
'''

def add(num1, num2):
    return num1 + num2

In [3]:
add(2,3)

5

In [4]:
add(5,6)

11

In [5]:
def hello():
    print('Hello')
    print('This is a function that does not take any input')
    print('This function does not return any value')

In [6]:
hello()

Hello
This is a function that does not take any input
This function does not return any value

In [7]:
#  Even or odd number
def even_odd(num):
    if num % 2 == 0:
        print(num,'is an even number')
    else:
        print(num,'is an odd number')

In [8]:
a = int(input('Enter the number : '))
even_odd(a)

a = int(input('Enter the number : '))
even_odd(a)

a = int(input('Enter the number : '))
even_odd(a)

Enter the number : 10
10 is an even number
Enter the number : 7
7 is an odd number
Enter the number : 8
8 is an even number

In [9]:
# Check whether a number is even or not
def check_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [11]:
check_even(7)

False

In [19]:
# Write a function which takes a number and checks whether it id divisible by 3 or not
def check_div3(num):
    if num % 3 == 0:
        return True
    else:
        return False
    
check_div3(9)

True

In [20]:
# Write a function which takes a number and prints whther the number is divisible by 2 or 3 or both
def check_div2and3(num):
    if num % 2 == 0 and num % 3 == 0:
        print('The number {} is divisible by 2 and 3 both'.format(num))
    elif num % 2 == 0:
        print('The number {} is divisible by 2'.format(num))
    elif num % 3 == 0:
        print('The number {} is divisible by 3'.format(num))
    else:
        print('The number {} is not divisible by 2 and 3'.format(num))

In [23]:
check_div2and3(9)

The number 9 is divisible by 3

## Default Parameters

In [24]:
'Hello there'.split()

['Hello', 'there']

In [25]:
'Hello there'.split('o')

['Hell', ' there']

In [31]:
def divide(num1,num2 = 1):
    return num1 / num2

In [32]:
divide(10)

10.0

In [33]:
divide(10,5)

2.0

In [34]:
def divide(num1 = 1, num2):
    return num1 / num2

SyntaxError: non-default argument follows default argument (<ipython-input-34-0f17acdd7e4b>, line 1)

In [35]:
def divide(num1 = 1, num2 = 1):
    return num1 / num2

## Positional Arguments and Keyword arguments

In [37]:
def details(name, age, city):
    print('The details are : ')
    print('Name : ', name)
    print('Age  : ', age)
    print('City : ', city)

In [38]:
details('Barkha', 25, 'Delhi')                                       # Positional arguments

The details are :
Name :  Barkha
Age  :  25
City :  Delhi

In [39]:
details(name = 'Barkha', age = 25, city = 'Delhi')                  # Keyword arguments

The details are :
Name :  Barkha
Age  :  25
City :  Delhi

In [40]:
details(age = 25, city = 'Delhi', name = 'Barkha')

The details are :
Name :  Barkha
Age  :  25
City :  Delhi

In [41]:
details(25, 'Delhi', 'Barkha')

The details are :
Name :  25
Age  :  Delhi
City :  Barkha

In [42]:
details('Barkha', age = 25, city = 'Delhi')

The details are :
Name :  Barkha
Age  :  25
City :  Delhi

In [43]:
details(name = 'Barkha', 25, 'Delhi')

SyntaxError: positional argument follows keyword argument (<ipython-input-43-8c1adde9d9ff>, line 1)

## Variable arguments and variable keyword arguments (args and kwargs)

In [44]:
def add(num1, num2):
    return num1 + num2

In [45]:
add(2,3)

5

In [46]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [47]:
def example(*nums):
    print(nums)
    print(type(nums))

In [50]:
example(2,3,6)

(2, 3, 6)
<class 'tuple'>

In [51]:
def add(*nums):
    result = 0
    for i in nums:
        result += i
    return result

In [52]:
add(2,3)

5

In [53]:
add(2,3,4)

9

In [54]:
add(3,4,5,6,7,8,9)

42

In [57]:
def largest(*nums):
    maximum = nums[0]
    for i in nums:
        if i > maximum:
            maximum = i
    return maximum

In [58]:
largest(2,3)

3

In [59]:
largest(2,3,4)

4

In [60]:
largest(6,5,3,7,8,9,2,3,4,6)

9

In [63]:
def person(**details):
    #print(details)
    print('The details are : ')
    for i,j in details.items():
        print(i, ':', j)

In [64]:
person(name = 'Bruce')

The details are :
name : Bruce

In [65]:
person(first_name = 'Bruce', last_name = 'Wayne')

The details are :
first_name : Bruce
last_name : Wayne

In [66]:
person(first_name = 'Bruce', last_name = 'Wayne', city = 'Gotham', superpower = 'Rich')

The details are :
first_name : Bruce
last_name : Wayne
city : Gotham
superpower : Rich

# ===========================================================

# Map
- The map function takes two arguments:
    - First argument : a function
    - Second argument: an iterable object (list, tuple, string etc)
    
- The map applies the given function to all the elements of a given iterable object

In [67]:
def square(num):
    return num ** 2

In [68]:
nums = [1,2,3,4,5,6,7,8,9]
for i in range(len(nums)):
    nums[i] = square(nums[i])
nums

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
nums = [1,2,3,4,5,6,7,8,9]
list(map(square, nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
def check_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [73]:
nums = [11,33,22,44,66,55,77,88]
list(map(check_even, nums))

[False, False, True, True, True, False, False, True]

In [74]:
def even_odd(num):
    if num % 2 == 0:
        return 'Even'
    else:
        return 'Odd'

In [75]:
nums = [11,33,22,44,66,55,77,88]
list(map(even_odd, nums))

['Odd', 'Odd', 'Even', 'Even', 'Even', 'Odd', 'Odd', 'Even']

In [79]:
nums = list(map(int, input('Enter the numebrs : ').split()))
nums

Enter the numebrs : 10 20 30

[10, 20, 30]

In [80]:
a,b,c = list(map(int, input('Enter three numebrs : ').split()))
print(a,b,c)

Enter three numebrs : 10 20 30
10 20 30

In [81]:
a,b,c = [10,20,30]
print(a,b,c)

10 20 30

In [85]:
# Given a string, return a list which contains the length of each word
s = 'hello how are you doing'
length_of_words = list(map(len, s.split()))
length_of_words

[5, 3, 3, 3, 5]

## Filter
- The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [9]:
def check_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [10]:
def check_even(num):
    return num % 2 == 0

In [91]:
nums = [11,33,22,44,66,55,77,88]
list(filter(check_even, nums))

[22, 44, 66, 88]

In [94]:
def check_prime(num):
    if num < 2:
        return False
    else:
        for i in range(2, int(num ** (1/2)) + 1):
            if num % i == 0:
                return False
        else:
            return True

In [99]:
list(filter(check_prime, range(1,101)))

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

## Zip

In [101]:
list1 = [10,20,30,40,50]
list2 = [2,3,4,5,6]

list(zip(list1, list2))

[(10, 2), (20, 3), (30, 4), (40, 5), (50, 6)]

In [104]:
icecreams = ['Butterscotch', 'Chocolate', 'Vanilla']
nums = [5, 4, 3]
prices = [80,50,40]

list(zip(icecreams, nums, prices))

[('Butterscotch', 5, 80), ('Chocolate', 4, 50), ('Vanilla', 3, 40)]

# Lambda Expressions

In [1]:
lambda num : num**2

In [2]:
sq = lambda num : num**2
sq(5)

25

In [3]:
add = lambda num1, num2 : num1 + num2
add(5,6)

11

In [5]:
even_odd = lambda num : 'Even' if num % 2 == 0 else 'Odd'
even_odd(6)

'Even'

In [6]:
nums = [1,2,3,4,5,6,7,8,9]
list(map(lambda num : num ** 2 , nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
nums = [11,33,77,22,66,44,88,99]
list(map(lambda num : 'Even' if num % 2 == 0 else 'Odd', nums))

['Odd', 'Odd', 'Odd', 'Even', 'Even', 'Even', 'Even', 'Odd']

In [8]:
nums = [11,33,77,22,66,44,88,99]
list(map(lambda num : True if num % 2 == 0 else False, nums))

[False, False, False, True, True, True, True, False]

In [11]:
nums = [11,33,77,22,66,44,88,99]
list(map(lambda num : num % 2 == 0, nums))

[False, False, False, True, True, True, True, False]

In [12]:
nums = [11,33,77,22,66,44,88,99]
list(filter(lambda num : num % 2 == 0, nums))

[22, 66, 44, 88]

In [13]:
nums = [11,33,77,22,66,44,88,99]
list(filter(lambda num : False if num % 2 == 0 else True, nums))

[11, 33, 77, 99]

In [14]:
nums = [11,33,77,22,66,44,88,99]
list(filter(lambda num : not num % 2 == 0, nums))

[11, 33, 77, 99]

In [17]:
# Given a list of strings, return a list having number of words of each string
strings = ['Good morning everyone',
           'how are you all doing',
           'are you understanding lambda expressions']


list(map(lambda s : len(s.split()) ,strings))

[3, 5, 5]