In [1]:
# # oops concept
# #oops -> object oriented programming

# #why we need oops?
# #reusability
# #modularity


# classes --> blueprint of your code
# object--> instance of your class

# class -> car-> engine,color,model,speed,company
# object -> maruti,bmw

In [4]:
#Animal: -> name,sound

#__init__ -> constructor of the class
#--> it get called automatically when you create a new object from the class
#--> it is used to set up the initial state or attributed of the object

# self--> self is the reference to the instance of the object itself

class Animal:
    def __init__(self,name,sound):
        self.name = name   #dog.name = 'buddy'
        self.sound= sound  #dog.sound = 'ertt'
        
    def make_sound(self):
        print(f" {self.name} makes {self.sound} sound")

In [8]:
dog = Animal("buddy","ertttt")
#self
#object = class_name(attributes defined in init)

cat = Animal("fluffy","meo")

In [10]:
dog.name

self

'buddy'

In [9]:
cat.name

'fluffy'

In [3]:
# F string

a=10
b=20

print("the values of a is ",a," and the value of b is ",b)

print(f"the value of a is {a} and the value of b is {b}")

the values of a is  10  and the value of b is  20
the value of a is 10 and the value of b is 20

In [ ]:
# #

# class->blueprint of the object
# object--> instance of the class

#__init__ -> constructor of the class
#--> it get called automatically when you create a new object from the class
#--> it is used to set up the initial state or attributed of the object

#self -> it is the refernece to the object

In [29]:
class person:
    def __init__(self,name,age,gender):  #person1 = person("suraj",28,'M')
        self.name = name#person1.name='suraj'                 # self   = person(name,age,gender)
        self.age = age#perosn1.age=28
        self.gender = gender#person1.gender='m'
        
    def intro(self):
        print(f"my name is {self.name}, and i am {self.age} years old")

In [30]:
person1 = person("suraj",28,'M')

In [31]:
person1.name
#self

'suraj'

In [32]:
person2 = person("raj",38,'M')

In [33]:
person1.name

'suraj'

In [34]:
person2.name

'raj'

In [35]:
person1.intro()

my name is suraj, and i am 28 years old

In [36]:
person2.intro()

my name is raj, and i am 38 years old

In [37]:
# #4 pillar of oops

# 1 inheritance
# 2 polymorphism
# 3 encapsulation
# 4 abstraction

In [38]:
#inheritance: -->
# 1- single inheritance
# 2- multiple inheritance
# 3 multilevel inheritance
# 4 hierarchical inheritance
# 5 hybrid inheritance

In [44]:
class person: #parent class
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def greet(self):
        print(f"hello!! my name is {self.name} and my age is {self.age}")
        
class player(person): #child
    def __init__(self,name,age,gender,game):
        self.name = name
        self.age = age
        self.gender = gender
        self.game = game
        
    def playerdetails(self):#self we have written so that i can refer that for which object we are calling this function
        print(f"player name is {self.name} and age is {self.age}{self.gender} and he plays {self.game}")

In [45]:
person1 = person("anil",24,'M')
player1 = player("sammar",25,'M','cricket')

In [46]:
person1.name

'anil'

In [47]:
player1.name

'sammar'

In [48]:
person1.greet()

hello!! my name is anil and my age is 24

In [50]:
player1.greet()

hello!! my name is sammar and my age is 25

In [51]:
person1.playerdetails()

AttributeError: 'person' object has no attribute 'playerdetails'

In [62]:
#multiple inheritance 2 parent class and 1 child class

# person
# player
# playerstudent

class person: #parent class 1
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def greet(self):
        print(f"hello!! my name is {self.name} and my age is {self.age}")
        
class player: #parent class2
    def __init__(self,name,age,gender,game):
        self.name = name
        self.age = age
        self.gender = gender
        self.game = game
        
    def playerdetails(self):#self we have written so that i can refer that for which object we are calling this function
        print(f"player name is {self.name} and age is {self.age}{self.gender} and he plays {self.game}")
    
class playerstu(player,person):
    def __init__(self,name,age,gender,game,sclass,srollno):
        self.name = name
        self.age = age
        self.gender = gender
        self.game = game
        self.sclass = sclass
        self.srollno = srollno
        
    def student_details(self):
        print(f"student name is  {self.name} and age is {self.age} and study in {self.sclass} and plays {self.game} for school")

In [63]:
p1 = playerstu('suraj',16,'m','cricket',11,22)

per1 = person('anil',34,'m')

In [64]:
p1.name

'suraj'

In [65]:
p1.greet()

hello!! my name is suraj and my age is 16

In [66]:
p1.playerdetails()

player name is suraj and age is 16m and he plays cricket

In [67]:
p1.student_details()

student name is  suraj and age is 16 and study in 11 and plays cricket for school

In [68]:
per1.greet()

hello!! my name is anil and my age is 34

In [69]:
per1.playerdetails()

AttributeError: 'person' object has no attribute 'playerdetails'

In [ ]:
#multilevel inheritance

In [1]:
#multiple inheritance 2 parent class and 1 child class

# person
# player
# playerstudent

class person: #grandparent
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def greet(self):
        print(f"hello!! my name is {self.name} and my age is {self.age}")
        
class player(person): #parent
    def __init__(self,name,age,gender,game):
        self.name = name
        self.age = age
        self.gender = gender
        self.game = game
        
    def playerdetails(self):#self we have written so that i can refer that for which object we are calling this function
        print(f"player name is {self.name} and age is {self.age}{self.gender} and he plays {self.game}")
    
class playerstu(player): #child
    def __init__(self,name,age,gender,game,sclass,srollno):
        self.name = name
        self.age = age
        self.gender = gender
        self.game = game
        self.sclass = sclass
        self.srollno = srollno
        
    def student_details(self):
        print(f"student name is  {self.name} and age is {self.age} and study in {self.sclass} and plays {self.game} for school")

In [2]:

per1 = person('anil',34,'m')  grandparent

play1 =player('raj',16,'m','cricket')  parent

ps1 = playerstu('suraj',16,'m','cricket',11,22)   child

In [3]:
print(ps1.greet())
print(ps1.playerdetails())
print(ps1.student_details())

hello!! my name is suraj and my age is 16
None
player name is suraj and age is 16m and he plays cricket
None
student name is  suraj and age is 16 and study in 11 and plays cricket for school
None

In [4]:
print(per1.greet())
print(per1.playerdetails())
print(per1.student_details())

hello!! my name is anil and my age is 34
None

AttributeError: 'person' object has no attribute 'playerdetails'

In [5]:
print(play1.greet())
print(play1.playerdetails())
print(play1.student_details())

hello!! my name is raj and my age is 16
None
player name is raj and age is 16m and he plays cricket
None

AttributeError: 'player' object has no attribute 'student_details'

In [ ]:
Question:

Imagine you are designing a system to represent different types of vehicles. Define three classes: Vehicle, Car, and ElectricCar, following the specifications given below. Then, create an instance of ElectricCar and demonstrate how to access its attributes and methods.

Specifications:

    Vehicle Class:
        Attributes: name, color, mileage
        Methods:
            get_name(): returns the name of the vehicle.
            get_color(): returns the color of the vehicle.
            get_mileage(): returns the mileage of the vehicle.

    Car Class (inherits from Vehicle):
        Additional Attributes: name, color, mileage,num_doors, fuel_type
        Methods:
            get_num_doors(): returns the number of doors.
            get_fuel_type(): returns the fuel type.

    ElectricCar Class (inherits from Car):
        Additional Attribute: name, color, mileage,num_doors, fuel_type,battery_capacity
        Methods:
            get_battery_capacity(): returns the battery capacity.

In [13]:
class vehicle:
    def __init__ (self,name, color, mileage):
        self.name = name
        self.color = color
        self.mileage=mileage
        
    def get_name(self):
        return self.name
    
    def get_color(self):
        return self.color
    
    def get_mileage(self):
        return self.mileage
    
    
class car(vehicle):
    
    def __init__(self,name, color, mileage,num_doors, fuel_type):
        self.name = name
        self.color = color
        self.mileage=mileage
        self.num_doors = num_doors
        self.fuel_type = fuel_type
        
    def get_num_doors(self):
        return self.num_doors
    
    def get_fuel_type(self):
        return self.fuel_type
    
class electriccar(car):
    
        def __init__(self,name, color, mileage,num_doors, fuel_type,battery_capacity):
            self.name = name
            self.color = color
            self.mileage=mileage
            self.num_doors = num_doors
            self.fuel_type = fuel_type
            self.battery_capacity = battery_capacity
        
        def get_battery_capacity(self):
            return battery_capacity

In [14]:

tesla = electriccar('tesla model S','black',1000,4,'battery',10000)

In [15]:
tesla.get_name()

'tesla model S'

In [16]:
tesla.get_color()

'black'

In [17]:
tesla.get_fuel_type()

'battery'

In [18]:
#we will be starting the session by 8:06 let everyone join the session

In [ ]:
super()

In [21]:
class vehicle:
    def __init__ (self,name, color, mileage):
        self.name = name
        self.color = color
        self.mileage=mileage
        
    def get_name(self):
        return self.name
    
    def get_color(self):
        return self.color
    
    def get_mileage(self):
        return self.mileage
    
class car(vehicle):
    def __init__(self,name, color, mileage,num_doors, fuel_type):
        super().__init__(name,color,mileage)
        self.num_doors = num_doors
        self.fuel_type = fuel_type
        
    def get_num_doors(self):
        return self.num_doors
    
    def get_fuel_type(self):
        return self.fuel_type
    
class Electriccar(car):
    def __init__(self,name, color, mileage,num_doors, fuel_type,battery_capacity):
        super().__init__(name,color,mileage,num_doors,fuel_type)
        self.battery_capacity=battery_capacity
        
    def get_battery_capacity(self):
        return self.battery_capacity

In [22]:
tesla1 =Electriccar('tesla model S','black',1000,4,'battery',10000)

In [23]:
tesla1.name

'tesla model S'

In [24]:
#hierarhical inheritance:- single parent class but multiple child class

In [25]:
class Animal: #parent
    def __init__(self,name,species):
        self.name = name
        self.species = species
        
    def speak(self):
        print('i am an animal')
        
        
class dog(Animal):
    def __init__(self,name,breed):
        super().__init__(name,species = 'dog')
        self.breed = breed
        
    def dog_details(self):
        print(f"my name is {self.name} and i am a {self.species}")

class cat(Animal):
    def __init__(self,name,color):
        super().__init__(name,species = 'cat')
        self.color=color
        
    def cat_details(self):
        print(f"my name is {self.name} and i am a {self.species}")

In [26]:
my_dog = dog("buddy","golden retriever")
my_cat = cat("fluffy",'white')

In [27]:
my_dog.name

'buddy'

In [29]:
my_dog.dog_details()

my name is buddy and i am a dog

In [30]:
my_dog.speak()

i am an animal

In [31]:
my_dog.species

'dog'

You are tasked with designing a system to manage different types of employees. Implement two classes, Employee and two subclasses HourlyEmployee and SalariedEmployee, following the specifications below. Then, create instances of both subclasses and demonstrate how to access their attributes and methods.

Specifications:

    Employee Class:
        Attributes: name, address, employee_id
        Methods:
            get_name(): returns the name of the employee.
            get_address(): returns the address of the employee.
            get_employee_id(): returns the employee ID.

    HourlyEmployee Class (inherits from Employee):
        Additional Attribute: hourly_wage
        Methods:
            get_hourly_wage(): returns the hourly wage.

    SalariedEmployee Class (inherits from Employee):
        Additional Attribute: annual_salary
        Methods:
            get_annual_salary(): returns the annual salary.

In [34]:
class employee:
    
    def __init__(self,name, address, employee_id):
        self.name = name
        self.address = address
        self.employee_id= employee_id

    def get_name(self):
        return self.name
    
    def get_address(self):
        return self.address
    
    def get_employee_id(self):
        return self.employee_id
    
class hourlyemployee(employee):
    
    def __init__(self,name, address, employee_id,hourly_wage):
        super().__init__(name, address, employee_id)
        self.hourly_wage = hourly_wage
        
        
    def get_hourly_wage(self):
        return self.hourly_wage
    
    
class salariedemployee(employee):
    def __init__(self,name, address, employee_id,annual_salary):
        super().__init__(name, address, employee_id)
        self.annual_salary=annual_salary
        
    def get_annual_Salary(self):
        return self.annual_Salary

In [35]:
hourly_employee =hourlyemployee("suraj",'asdf',3245,2000)
salaried_employee = salariedemployee('divya','wert',234,1200000)

In [36]:
hourly_employee.name

'suraj'

In [37]:
hourly_employee.get_address()

'asdf'

In [39]:
class employee:
    
    def __init__(self,name, address, employee_id):
        self.name = name
        self.address = address
        self.employee_id= employee_id

    def get_name(self):
        print(f"my name is {self.name}")
    
    def get_address(self):
        return self.address
    
    def get_employee_id(self):
        return self.employee_id
    
class hourlyemployee(employee):
    
    def __init__(self,name, address, employee_id,hourly_wage):
        super().__init__(name, address, employee_id)
        self.hourly_wage = hourly_wage
        
        
    def get_hourly_wage(self):
        return self.hourly_wage
    
    
class salariedemployee(employee):
    def __init__(self,name, address, employee_id,annual_salary):
        super().__init__(name, address, employee_id)
        self.annual_salary=annual_salary
        
    def get_annual_Salary(self):
        return self.annual_Salary

In [40]:
salaried_employee = salariedemployee('divya','wert',234,1200000)

In [41]:
salaried_employee.get_name()

my name is divya

In [42]:
salaried_employee.get_address()

'wert'

In [49]:
objectname = salaried_employee.get_name()

my name is divya

In [50]:
objectname

In [52]:
objectname1 = salaried_employee.get_address()

In [53]:
objectname1

'wert'

In [54]:
#hybrid inheritance-> combination of multiple and hierarchical inheritance is known as hybrid inheritance


class A:
    def method_a(self):
        print("method A from class A")
        
class B(A):
    def method_b(self):
        print("method B from class B")
        
class C(A):
    def method_c(self):
        print("method C from class C")

class D(B,C):
    def method_d(self):
        print("method D from class D")

In [55]:
d_obj = D()

In [56]:
d_obj.method_a()

method A from class A

In [57]:
d_obj.method_b()

method B from class B

In [58]:
d_obj.method_c()

method C from class C

In [59]:
d_obj.method_d()

method D from class D

In [60]:
# #
# single inheritance-> 1 parent 1 child
# multiple inheritance->2 parent 1 child
# multilevel inheritance-> 1 gp 1 parent 1 child
# hierarchical inheritance-> 1 parent multiple child
# hybrid  inheritance-> combination of multiple and hierarchical inheritance

In [66]:
#polymorphism

# poly   +    morphism

# many         forms

a=10
b=10
print(a+b)
print("suraj")
print(1)
print(True)

20
suraj
1
True

In [70]:
class Animal:
    def sound(self):
        pass #pass is like a placeholder that will help you to place your future code
    
class dog(Animal):
    def sound(self):
        return('woof')
    
class cat(Animal):
    def sound(self):
        return('meow')
    
class cow(Animal):
    def sound(self):
        return('moo')

In [71]:
dog1 = dog()
cat1= cat()
cow1=cow()

In [72]:
dog1.sound()

'woof'

In [73]:
cat1.sound()

'meow'

In [74]:
cow1.sound()

'moo'

In [75]:
# #encapsulation


# # public attributes
# # private attributes

# function-> getters--> get the value of attributes and setters--> used to change the values of attributes

In [100]:
class person:
    def __init__(self,name,age,gender):  #person1 = person("suraj",28,'M')
        self.name = name#public attribute                # self   = person(name,age,gender)
        self.__age = age#private
        self.gender = gender#person1.gender='m'
        
    def get_age(self):
        print(f" i am {self.__age} years old")
        
        
    def set_age(self,newage):  #person1.set_age(24)
        self.__age=newage      # self.set_age(newage)

In [101]:
person1 = person("anil",34,'M')

In [97]:
person1.name = 'suraj' #public attribute

In [98]:
person1.name

'suraj'

In [102]:
person1.__age

AttributeError: 'person' object has no attribute '__age'

In [103]:
person1.get_age()

 i am 34 years old

In [104]:
person1.set_age(24)

In [105]:
person1.get_age()

 i am 24 years old

In [23]:
class bankaccount:
    def __init__(self,account_holder, balance = 0): #balance is having default value 0
        self.__account_holder = account_holder
        self.__balance = balance
        
    def get_account_holder(self):
        return self.__account_holder
    
    def get_balance(self):
        return self.__balance
    
    def deposit(self,amount):#setter -> because they are helping to change the value of balance as we can't chage it directly outside teh class
        if amount>0:
            self.__balance += amount #->self.__balance = self.__balance + amount
            print(f"Deposit of {amount} successfull. New Balance: {self.__balance}")
            
        else:
            print("Invalid deposit amount")
        
    def withdraw(self,amount):#setter -> because they are helping to change the value of balance as we can't chage it directly outside teh class
        if 0 < amount <= self.__balance:
            self.__balance -= amount #->self.__balance = self.__balance - amount
            print(f"Withdrawal of {amount} is successfull. New balance is {self.__balance}")
            
        else:
            print("invalid withdrwaral amount or insufficient funds.")

In [24]:
my_account = bankaccount('Suraj')
account2 = bankaccount('tarsame',45000)

In [25]:
my_account.get_balance()

0

In [33]:
account2.get_balance()

45000

In [34]:
my_account.__balance = 90 # this is not going to happen

In [35]:
my_account.__balance

90

In [36]:
my_account.get_balance()

0

In [37]:
account2.__balance=9

In [38]:
account2.__balance

9

In [39]:
account2.get_balance()

45000

In [40]:
my_account.deposit(40000)

Deposit of 40000 successfull. New Balance: 40000

In [41]:
my_account.get_balance()

40000

In [46]:
#abstraction


from abc import ABC,abstractmethod

class car(ABC):
    @abstractmethod
    def mileage(self):
        pass
    
class toyota(car):
    def mileage(self):
        print("the mileage is 30")
        
class suzuki(car):
    def mileage(self):
        print("the mileage is 10")

In [48]:
t= toyota()
s= suzuki()

In [49]:
t.mileage()

the mileage is 30

In [51]:
s.mileage()

the mileage is 10