# Object Oriented Programming
- Inheritance
- Polymorphism
- Encapsulation
- Abstraction

In [9]:
class Person:
    def __init__(self, fname, lname, age):
        self.first_name = fname
        self.last_name = lname
        self.age = age
        
    def show(self):
        print('The details are : ')
        print('First Name : ', self.first_name)
        print('Last Name  : ', self.last_name)
        print('Age        : ', self.age)

In [10]:
p1 = Person('Abhay', 'Kumar', 45)
p2 = Person('Amith', 'Ashokan', 35)

In [7]:
p1.first_name

'Abhay'

In [8]:
p2.first_name

'Amith'

In [11]:
p1.show()

The details are :
First Name :  Abhay
Last Name  :  Kumar
Age        :  45

In [12]:
p2.show()

The details are :
First Name :  Amith
Last Name  :  Ashokan
Age        :  35

In [19]:
class Person:
    def __init__(self):
        self.first_name = None
        self.last_name = None
        self.age = None
        
    def set_details(self, fname, lname, age):
        self.first_name = fname
        self.last_name = lname
        self.age = age
        
    def show(self):
        print('The details are : ')
        print('First Name : ', self.first_name)
        print('Last Name  : ', self.last_name)
        print('Age        : ', self.age)

In [20]:
p1 = Person()

In [21]:
p1.first_name

In [22]:
p1.set_details('Abhay', 'Kumar', 45)

In [23]:
p1.first_name

'Abhay'

In [74]:
class Person:
    def __init__(self):
        self.first_name = None
        self.last_name  = None
        self.gender     = None
        self.age        = None
        self.city       = None
        self.state      = None
        self.country    = None
        
    def set_details(self, fname, lname, gender, age, city, state, country):
        self.first_name = fname
        self.last_name  = lname
        self.gender     = gender
        self.age        = age
        self.city       = city
        self.state      = state
        self.country    = country
        
    def show_details(self):
        print('The details are : ')
        print('First Name  : ', self.first_name)
        print('Last Name   : ', self.last_name)
        print('Gender      : ', self.gender)
        print('Age         : ', self.age)
        print('City        : ', self.city)
        print('State       : ', self.state)
        print('Country     : ', self.country)
        
    def update_city(self, new_city):
        self.city = new_city
        print('The city for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.city))
        
    def update_state(self, new_state):
        self.state = new_state
        print('The state for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.state))
        
    def update_country(self, new_country):
        self.country = new_country
        print('The country for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.country))

In [30]:
p1 = Person()

In [31]:
p1.set_details('Surendar', 'Pandi', 'male', 40, 'bangalore', 'karnataka', 'India')

In [32]:
p1.show_details()

The details are :
First Name :  Surendar
Last Name  :  Pandi
Gender     :  male
Age        :  40
City       :  bangalore
State      :  karnataka
Country    :  India

In [33]:
p1.update_city('Pune')

The city for Surendar Pandi has been updated to Pune

In [34]:
p1.update_state('Maharashtra')

The state for Surendar Pandi has been updated to Maharashtra

In [35]:
p1.show_details()

The details are :
First Name :  Surendar
Last Name  :  Pandi
Gender     :  male
Age        :  40
City       :  Pune
State      :  Maharashtra
Country    :  India

# Inheritance

In [98]:
class Person:
    def __init__(self):
        self.first_name = None
        self.last_name  = None
        self.gender     = None
        self.age        = None
        self.city       = None
        self.state      = None
        self.country    = None
        
    def set_details(self, fname, lname, gender, age, city, state, country):
        self.first_name = fname
        self.last_name  = lname
        self.gender     = gender
        self.age        = age
        self.city       = city
        self.state      = state
        self.country    = country
        
    def show_details(self):
        print('The details are : ')
        print('First Name  : ', self.first_name)
        print('Last Name   : ', self.last_name)
        print('Gender      : ', self.gender)
        print('Age         : ', self.age)
        print('City        : ', self.city)
        print('State       : ', self.state)
        print('Country     : ', self.country)
        
    def update_city(self, new_city):
        self.city = new_city
        print('The city for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.city))
        
    def update_state(self, new_state):
        self.state = new_state
        print('The state for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.state))
        
    def update_country(self, new_country):
        self.country = new_country
        print('The country for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.country))

In [39]:
class Employee(Person):
    pass

In [40]:
e1 = Employee()

In [42]:
e1.set_details('Surendar', 'Pandi', 'male', 40, 'bangalore', 'karnataka', 'India')

In [43]:
e1.show_details()

The details are :
First Name :  Surendar
Last Name  :  Pandi
Gender     :  male
Age        :  40
City       :  bangalore
State      :  karnataka
Country    :  India

In [104]:
class Employee(Person):
    def __init__(self):
        super().__init__()
        self.emp_id  = None
        self.desg    = None
        self.dept    = None
        self.salary  = None
        self.hod     = None
        
    def set_details(self, fname, lname, gender, age, city, state, country, emp_id, desg, dept, salary, hod):
        super().set_details(fname, lname, gender, age, city, state, country)
        self.emp_id = emp_id
        self.desg   = desg
        self.dept   = dept
        self.salary = salary
        self.hod    = hod
       
    def show_details(self):
        super().show_details()
        print('Employee Id : ', self.emp_id)
        print('Designation : ', self.desg)
        print('Department  : ', self.dept)
        print('HOD         : ', self.hod)
        print('Salary      : ', self.salary)
        
    def update_desg(self,new_desg):
        self.desg = new_desg
        print('The designation for employee {} has been updated to {}'.format(self.emp_id, self.desg))
        
    def update_dept(self,new_dept):
        self.dept = new_dept
        print('The department for employee {} has been changed to {}'.format(self.emp_id, self.desg))
        
    def update_hod(self, new_hod):
        self.hod = new_hod
        print('The HOD for employee {} has been changed to {}'.format(self.emp_id, self.hod))
        
    def inc10(self):
        self.salary = self.salary * 1.1
        print('The salary for employee {} has been changed to {}'.format(self.emp_id, self.salary))
        
    def dec10(self):
        self.salary = self.salary * 0.9
        print('The salary for employee {} has been changed to {}'.format(self.emp_id, self.salary))
        
    def increment(self, percentage):
        self.salary = self.salary + self.salary * percentage/100
        print('The salary for employee {} has been changed to {}'.format(self.emp_id, self.salary))
        
    def increase_salary(self, amount):
        self.salary = self.salary + amount
        print('The salary for employee {} has been changed to {}'.format(self.emp_id, self.salary))
        
    def decrease_salary(self, amount):
        self.salary = self.salary - amount
        print('The salary for employee {} has been changed to {}'.format(self.emp_id, self.salary))

In [105]:
e1 = Employee()

In [106]:
e1.set_details('Nazreen', 'Begam', 'female', 30, 'Hyderabad', 'Telangana', 'India', 101, 'data analyst', 'analytics', 80000, 'Utkarsh Sharma')

In [107]:
e1.show_details()

The details are :
First Name  :  Nazreen
Last Name   :  Begam
Gender      :  female
Age         :  30
City        :  Hyderabad
State       :  Telangana
Country     :  India
Employee Id :  101
Designation :  data analyst
Department  :  analytics
HOD         :  Utkarsh Sharma
Salary      :  80000

In [108]:
e1.update_city('Mirzapur')
e1.update_state('UttarPradesh')
e1.show_details()

The city for Nazreen Begam has been updated to Mirzapur
The state for Nazreen Begam has been updated to UttarPradesh
The details are :
First Name  :  Nazreen
Last Name   :  Begam
Gender      :  female
Age         :  30
City        :  Mirzapur
State       :  UttarPradesh
Country     :  India
Employee Id :  101
Designation :  data analyst
Department  :  analytics
HOD         :  Utkarsh Sharma
Salary      :  80000

In [109]:
e1.update_desg('Data Engineer')

The designation for employee 101 has been updated to Data Engineer

In [110]:
e1.update_dept('Engineering')

The department for employee 101 has been changed to Data Engineer

In [111]:
e1.update_hod('Janki Thakkar')

The HOD for employee 101 has been changed to Janki Thakkar

In [112]:
e1.show_details()

The details are :
First Name  :  Nazreen
Last Name   :  Begam
Gender      :  female
Age         :  30
City        :  Mirzapur
State       :  UttarPradesh
Country     :  India
Employee Id :  101
Designation :  Data Engineer
Department  :  Engineering
HOD         :  Janki Thakkar
Salary      :  80000

In [113]:
e1.inc10()

The salary for employee 101 has been changed to 88000.0

In [114]:
e1.salary

88000.0

In [115]:
e1.increase_salary(12000)

The salary for employee 101 has been changed to 100000.0

In [116]:
e1.salary

100000.0

In [117]:
e1.dec10()

The salary for employee 101 has been changed to 90000.0

In [118]:
e1.decrease_salary(10000)

The salary for employee 101 has been changed to 80000.0

In [119]:
e1.salary

80000.0

In [120]:
e1.show_details()

The details are :
First Name  :  Nazreen
Last Name   :  Begam
Gender      :  female
Age         :  30
City        :  Mirzapur
State       :  UttarPradesh
Country     :  India
Employee Id :  101
Designation :  Data Engineer
Department  :  Engineering
HOD         :  Janki Thakkar
Salary      :  80000.0

In [121]:
e1.increase_salary(20000)
e1.salary

The salary for employee 101 has been changed to 100000.0

100000.0

In [122]:
e1.increment(50)

The salary for employee 101 has been changed to 150000.0

In [141]:
class Organisation(Employee):
    def __init__(self, name):
        self.org_name = name
        self.employees = {}
        
    def add_employee(self, fname, lname, gender, age, city, state, country, emp_id, desg, dept, salary, hod):
        if emp_id not in self.employees.keys():
            emp = Employee()
            emp.set_details(fname, lname, gender, age, city, state, country, emp_id, desg, dept, salary, hod)
            self.employees[emp_id] = emp
            print('Employee added successfuly')
        else:
            print('Employee id already exists')
            
    def remove_employee(self, emp_id):
        if emp_id in employees.keys():
            self.employees.pop(emp_id)
            print('Employee removed successfully')
        else:
            print('Employee does not exist')
            
    def show_employees(self):
        for emp_id in self.employees.keys():
            self.employees[emp_id].show_details()
            print('\n****************************************************')

In [142]:
org1 = Organisation('beta_people')

In [143]:
org1.show_employees()

In [144]:
org1.add_employee('Arindam', 'Metya', 'male', 29, 'Kolkata', 'WB', 'IN', 101, 'TL', 'Data', 10000, 'Utkarsh Sharma')

Employee added successfuly

In [145]:
org1.add_employee('sourabh' , 'verma' , 'male' , 28 ,'kota' , 'rajasthan' , 'india' , 102 , 'mentor' , 'mentorship' , 30000 , 'aditya mittal')

Employee added successfuly

In [146]:
org1.add_employee('Partha', 'Mandal', 'Male', '26', 'Barrackpore', 'West Bengal', 'India', '44', 'SDE', 'Data Science', '44,000', 'Uttam Sir')

Employee added successfuly

In [147]:
org1.show_employees()

The details are :
First Name  :  Arindam
Last Name   :  Metya
Gender      :  male
Age         :  29
City        :  Kolkata
State       :  WB
Country     :  IN
Employee Id :  101
Designation :  TL
Department  :  Data
HOD         :  Utkarsh Sharma
Salary      :  10000

****************************************************
The details are :
First Name  :  sourabh
Last Name   :  verma
Gender      :  male
Age         :  28
City        :  kota
State       :  rajasthan
Country     :  india
Employee Id :  102
Designation :  mentor
Department  :  mentorship
HOD         :  aditya mittal
Salary      :  30000

****************************************************
The details are :
First Name  :  Partha
Last Name   :  Mandal
Gender      :  Male
Age         :  26
City        :  Barrackpore
State       :  West Bengal
Country     :  India
Employee Id :  44
Designation :  SDE
Department  :  Data Science
HOD         :  Uttam Sir
Salary      :  44,000

****************************************************