In [1]:
##Q1

##Using Python script as a calculator
##Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.
##ùê¥ = ùëù (1 + ùëü/ 100)n


def calculate_compound_amount(p, r, n):
    A = p * (1 + r / 100) ** n
    return A


p = 100  
r = 5          
n = 10        

amount = calculate_compound_amount(p, r, n)

amount

##*** So the answer is option b [162.89]

162.8894626777442

In [7]:
##Q2
##In a given string format operation, how will you print the given string.
## A = 10
## B = 20
## Str = "There are {} students in the class, with {} who play at least one sport."
## a. print(string.format(a,b)) b. print(string+a+b)
## c. print(string.format(b,a)) d. None of the above

A = 10
B = 20

Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(B,A))

##*** So the answer is option d [None of the above] ## option c is correct but the variable name is different that's why i choose option d

There are 20 students in the class, with 10 who play at least one sport.

In [17]:
##Q3
#In a given sample string, How do you print a double quoted string in between a regular
#string using the escape character?
#Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
#a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
#b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
#c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù) d. None of the above.

print("It goes without saying, \"Time is Money\", and none can deny it.")

##*** So the Answer is option A [print("It goes without saying, \"Time is Money\", and none can deny it.")]

It goes without saying, "Time is Money", and none can deny it.

In [21]:
##Q4
#What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)

##*** So the answer is option B [3]

3

In [23]:
##Q5
#What will be the output of the following code?

A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

##*** So the Answer is option C [Greater]

Greater

In [25]:
##Q6
##What will be the output of the following code?
import os
import numpy as np

my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

##*** So the Answer is option C [NameError: name 'numpy' is not defined]

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [37]:
##Q7
## Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

string = 'Machine Learning'

string[slice(8,13,1)]

##*** So the Answer is option D [string[slice(8,13,1)]]

'Learn'

In [41]:
##Q8
#Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the
#value 18

for i in range(10,25,4):
    print(i)
##*** So the Answer is option B [2]

10
14
18
22

In [43]:
##Q9
##Which of the following is true with respect to the below codes?

num1 =  5**4
num2= pow(5,4)
print(num1, num2)

##*** So the Answer is option A [num1 = num2]

625 625

In [49]:
##Q10
## A Python NameError exception is raised when: -

##*** So the Answer is option A [Trying to access a variable which has not been defined]

In [55]:
##Q11
##What type of exception will be raised for the code given below?

x= 'string' 
int(x)

##*** So the Answer is option C [ValueError]

ValueError: invalid literal for int() with base 10: 'string'

In [57]:
##Q12
##A FileNotFoundError exception is raised by operating system errors when: -

##*** The Answer is option B [A file or directory is requested but does not exist in the working directory]

In [59]:
##Q13
#Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -

z = 'ID-5632';
type(z)

##*** So the answer is option B [Character]

str

In [63]:
##Q14
## Which of the following variable(s) are character data type?

 ##*** The answer is option D [All of the above]

In [65]:
##Q15.Choose the symbol/s that does not have the ability to convert any values to string?

 ##*** The answer is option D [#]

In [67]:
##Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:

# Creating the Country dictionary
Country = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}

# Replacing "Marseilles" with "Paris" using two different commands

# Command 1: Using direct assignment
Country["France"] = "Paris"

# Command 2: Using the update() method
Country.update({"France": "Paris"})

# Printing the updated dictionary
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [77]:
##Q17. Create the tuples given below

tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
##Identify which of the following code does not work on a tuple.

 ##*** The answer is option D [tuple_1[3] = 45]

In [79]:
##Q18. How many elements in the following data structure?

s = {1,2,3,4,4,4,5,6}
len(s)

6

In [81]:
##19 Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

def find_pythagorean_triplets(N):
    triplets = []  # List to store the triplets
    for a in range(1, N + 1):
        for b in range(a, N + 1):  # Start from 'a' to avoid duplicates
            c = (a ** 2 + b ** 2) ** 0.5
            # Check if c is an integer and within the limit
            if c.is_integer() and c <= N:
                triplets.append((a, b, int(c)))
    return triplets

# Example usage
N = 20
triplets = find_pythagorean_triplets(N)
print(f"Pythagorean triplets with sides no greater than {N} are: {triplets}")

Pythagorean triplets with sides no greater than 20 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]